---
layout: page
title: Äta ute i Tel Aviv
permalink: /ata-ute-tel-aviv/
---

<p>Israel är ett samhälle där maten har en otroligt viktig plats. Om det finns något som Israeler är måna om att lägga tid på så är det god mat. Jag kan starkt rekommendera att äta hemma hos en israelisk familj för att verkligen få en riktigt israelisk matupplevelse men för de måltider där den möjligheten inte finns så kryllar staden av restauranger, cafér och matmarknader så man behöver aldrig gå hungrig i Tel Aviv. </p>

Här kommer en lista på några resturanger som jag gillar eller som andra har tipsat mig om:

<table class="table">
			<tr>
				<th>Namn</th>
				<!--<th>Adress</th>-->
				<th>Typ av mat</th>
				<th>Adress</th>
				<!--<th>Boka här</th>-->
			</tr>
			
			{% for restaurang in site.restaurang %}
			<tr>
				<td><a href="{{ site.baseurl }}{{ restaurang.url }}" class="post-archive-link">{{ restaurang.title }}</a><</td>
				<td>{{ restaurang.typmat }}</td>
				<td>{{ restaurang.adress }}</td>
				
			</tr>
		{% endfor %}
