---
layout: page
title: Boende i Tel Aviv
permalink: /boende-i-tel-aviv/
---

När det gäller boende i Tel Aviv finns det många alternativ att välja på. Det första du måste bestämma dig för är vilken sorts boende du är intresserad av. Det finns möjlighet att bo traditionellt på hotell för den som vill åka till Tel Aviv på en vanlig semester men även att bo på varandrahem för dig som hellre vill lägga pengarna på annat. Personligen föredrar jag att använda mig av tjänsten AirBnB som gör det möjligt att hyra ett rum eller en hel lägenhet av en annan privatperson under en kortare period. Nedan listar jag fördelarna och nackdelarna med respekive boendeform:

<h2>Hotell</h2>




<h2>Vandrarhem</h2>


<h2>AirBnB</h2>
