---
layout: page
title: Flyg till Tel Aviv
permalink: /flyg-till-tel-aviv/
---

<h2>Vad kostar det att flyga till Tel Aviv?</h2>

Hur mycket det kostar att flyga till Tel Aviv beror på tre saker 1) vilket flygbolag du åker med, 2) när på året du vill flyga och 3) slumpen.


<h2>Hur man tar sig från flygplatsen till Tel Aviv</h2>

<h3>Med taxi</h3>

<img src="https://farm4.staticflickr.com/3714/10494076976_3ac7983074_z.jpg" alt="Taxi till Tel Aviv">

Det lättaste sättet att ta sig från flygplatsen är nog att ta en taxi. De allra flesta taxichaufförer tar endast betalt kontant så se till att ni har växklat in pengar innan. Se också till att chauffören tar betalat med hjälp av taxametern och inte ett "fast" pris för oftast är det "fasta" priset för turister betydligt högre än med taxameter. Det är också lag i Israel på att taxibilar måste använda sig av taxameter så det har du som kund rätt att kräva.

<h3>Med tåg</h3>

<img src="https://farm4.staticflickr.com/3062/2614624341_2efbf7bdeb_z.jpg" alt="Tåg till Tel Aviv">

Israel är ett litet land med utmärkta tågförbindelser. Det finns en tågstation precis utanför dörrarna till flygplatsen och kostar omkring 30 kronor för en resa tilll centrala Tel Aviv. Tåget är modernt och luftkonditionerat och resan tar cirka 30 minuter från flygplatsen till Tel Aviv. Från tpgstationen kan du antingen ta en taxi till hotellet eller gå en bit om ni inte har med er alltför tung packning. 


