---
layout: page
title: Hotell i Tel Aviv
permalink: /hotell-tel-aviv/
---

		
		<table class="table">
			<tr>
				<th>Namn</th>
				<!--<th>Adress</th>-->
				<th>Läs mer</th>
				<!--<th>Boka här</th>-->
			</tr>
			
			{% for hotell in site.hotell %}
			<tr>
				<td>{{ hotell.title }}</td>
				<td><a href="{{ site.baseurl }}{{ hotell.url }}" class="post-archive-link">Mer information</a></td>
				
			</tr>
		{% endfor %}
		</table>
		
		
	

