---
layout: page
excerpt-seperator: <!--more-->
--- 

{% for post in site.posts %}
	<div class="blog-post">

		
		{% if post.thumb %}
		
		<!--<div class="imagebeforetext">
			<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		</div>-->
		<a href="{{ post.url | prepend: site.baseurl }}">
			<img src="{{ post.thumb }}" class="center-block img-responsive">
		{% endif %}
		<h2>{{ post.title }}</h2></a>
		{{ post.excerpt }}
	</div>
{% endfor %}


<!--{% for post in site.posts %}
	<div class="blog-post">

		
		{% if post.thumb %}

<div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
        <img src="{{ post.thumb }}" alt="{{ post.title }}" class="img-responsive">
           <div class="carousel-caption">
           <h2>{{ post.title }}</h2>
           </div>
        </div>
    </div>
</div>
{% endif %}
		<h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
		{{ post.excerpt }}
	</div>
{% endfor %}

{% for post in site.posts %}
	<div class="blog-post">

		
		{% if post.thumb %}

<div class="imageAndText">
    <img src="{{ post.thumb }}" class="align-center img-responsive">
    <div class="col">
        <div class="col-sm-12">
            <h2>{{ post.title }}</h2>
        </div>
    </div>
</div>
{% endif %}
		<h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
		{{ post.excerpt }}
	</div>
{% endfor %}-->
