---
layout: page
title: Se och göra i Tel Aviv
permalink: /aktiviteter-tel-aviv/
---

{% for post in site.posts %}
    {% capture currentyear %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% if currentyear != year %}
        {% unless forloop.first %}
        </ul>
        {% endunless %}
        <h3 class="post-archive-year">{{ currentyear }}</h3>
        <ul class="post-archive">
        {% capture year %}{{ currentyear }}{% endcapture %}
    {% endif %}
    <li>
        <a href="{{ site.baseurl }}{{ post.url }}" class="post-archive-link">
            {{ post.title }}
        </a>
    </li>
{% endfor %}
