 <div class="footer-upper col-sm-12">
        <div class="col-sm-8 hidden-xs">
          <h3>Om Alltomtelaviv.se</h3>
          <p>Hej! Mitt namn är Victor och jag startade denna hemsida för att jag tyckte det saknades bra information om Tel Aviv som resemål. </p>
        </div>
           
        <div class="col-sm-4">
          <h3>Kontakt</h3>

<p>E-mail: <a href="mailto:info@alltomtelaviv.se">info@alltomtelaviv.se</a></p>
<p>Twitter: <a href="http://www.twitter.com" target="_blank">@alltomtelaviv</a></p>
<p>Facebook: <a href="http://www.facebook.com/alltomtelaviv" target="_blank">facebook.com/alltomtelaviv</a></p>
        </div>
         
      </div>
      
     </div>
      <div class="footer col-sm-12">            
        <nav class="hidden-xs">
        <li><a href="{{ site.baseurl }}">Senaste artiklarna</a></li>
        <li><a href="{{ site.baseurl }}/flyg-till-tel-aviv">Flyg & Transfer</a></li>
        <li><a href="{{ site.baseurl }}/aktiviteter-tel-aviv">Se och göra</a></li>
        <li><a href="{{ site.baseurl }}/ata-ute-tel-aviv">Äta ute</a></li>
        <li><a href="{{ site.baseurl }}/boende-i-tel-aviv">Boende</a></li>
        </nav>
    
      </div>

        
  


      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
