<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 | replace: ' ', '%20' }}{% else %}{{ site.description }}{% endif %}">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700italic,700">
	<link rel="stylesheet" href="/css/main.css">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	
	
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="icon" type="image/x-icon" href="{{ "/assets/images/favicon.ico" | prepend: site.baseurl }}">
	<link rel="apple-touch-icon-precomposed" href="{{ "/assets/images/apple-touch-icon.png" | prepend: site.baseurl }}" />
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ "/assets/images/apple-touch-icon-57x57.png" | prepend: site.baseurl }}" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "/assets/images/apple-touch-icon-72x72.png" | prepend: site.baseurl }}" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ "/assets/images/apple-touch-icon-114x114.png" | prepend: site.baseurl }}" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ "/assets/images/apple-touch-icon-120x120.png" | prepend: site.baseurl }}" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "/assets/images/apple-touch-icon-144x144.png" | prepend: site.baseurl }}" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ "/assets/images/apple-touch-icon-152x152.png" | prepend: site.baseurl }}" />
	<script LANGUAGE="Javascript">
		<!--
		var v = new Array("SÖNDAG ","MÅNDAG ","TISDAG ","ONSDAG ","TORSDAG ","FREDAG ","LÖRDAG ");
		var m = new Array(" JANUARI "," FEBRUARI "," MARS "," APRIL "," MAJ "," JUNI "," JULI "," AUGUSTI "," SEPTEMBER "," OKTOBER "," NOVEMBER "," DECEMBER ");
		var n = new Date();
		n = new Date();
		d = n.getDay();
		function vd(){
		if (d == 0) {
		document.write("SÖNDAG "+n.getDate()+m[n.getMonth()]);
		}
		else {
		document.write(v[n.getDay()]+n.getDate()+m[n.getMonth()]);
		}
		}
		// -->
	</script>
</head>
	
