<header>
	<div class="leaderboard hidden-xs">
	<center>
			<script type="text/javascript">
			var uri = 'https://impse.tradedoubler.com/imp?type(js)g(17849768)a(2270282)' + new String (Math.random()).substring (2, 11);
			document.write('<sc'+'ript type="text/javascript" src="'+uri+'" charset="ISO-8859-1"></sc'+'ript>');
			</script>
		</center>
	</div>
	
	<div class="container">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand visible-xs" href="#">AlltomTelAviv</a>
			</div>
	
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
					<li><a href="{{ site.url }}">Senaste artiklarna</a></li>
					<li><a href="{{ site.baseurl }}/flyg-till-tel-aviv">Flyg & Transfer</a></li>
					<li><a href="{{ site.baseurl }}/aktiviteter-tel-aviv">Se och göra</a></li>
					<li><a href="{{ site.baseurl }}/ata-ute-tel-aviv">Äta ute</a></li>
					<li class="dropdown">
						<a href="{{ site.baseurl }}/boende-i-tel-aviv" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Boende<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{{ site.baseurl }}/hotell-tel-aviv">Hotell</a></li>
							<li><a href="{{ site.baseurl }}/vandrarhem-tel-aviv">Vandrarhem</a></li>
							<!--<li><a href="#">AirBnB</a></li>
							<li><a href="#">Hyra lägenhet</a></li>-->
						</ul>
					</li>
				</ul>
				<!--<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
				</form>-->
				<!--<ul class="nav navbar-nav navbar-right">
				
				<li><a href="#">Link</a></li>
				<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
				<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
				</ul>
				</li>
				</ul>-->
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
</div> 
</header>
