html {
    
    /*background-image: -webkit-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    -webkit-font-smoothing: antialiased;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}/*

body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8; 
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}*/

body {
    font-family: Merriweather, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
    
    font-size: 16px;
    
    margin: 0px;
    padding: 0px;
    
}

.leaderboard {
    color: white;
    text-align: center;
    height: 130px;
  padding: 20px;

    
}



.navbar {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}

.maincontent {
  
    display: inline-block;
    vertical-align: top;
}

.senastenytt {
    width: 100%;
    border: 1px solid black;
    padding: 5px;
    
}


.mycontainer {
  padding-top: 50px;
}

.sidebar {
  padding-top: 10px;



}

.navbar-inverse {
  background-color: #3d3d3d;
  border-color: #3d3d3d;
  border: 0px;
  color: white;
  margin-top: 30px;
}


header {
   background-color: #3d3d3d;
  padding: 0px;
  border-bottom: 5px solid #006699;
    
}
.top-header {
  border-bottom: 5px solid #006699;
}
.top-header h4 {
    text-transform: uppercase;
    word-spacing: 1px;
    font-size: 50px;
    font-style: verdana;
    text-decoration: none;
    color: black;
}

.top-header a {
text-decoration: none;
  color: black;
} 
.top-header h4 span {
  color: #006699;
}



.logo {
  padding-bottom: 10px;
  
}

.logo p {
  font-size: 12px;
}
  

nav {
    padding-bottom: 0px;
margin: auto;

}

nav li {
   
    display: inline;
    padding: 0px;

    
}

.row {
  background-color: #ffffff;
  padding-bottom: 50px;
}
.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
  background-color: #006699;
}

nav li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 0px;
    
}

.redy {
  background-color: red;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: 0px;
}

nav li a:hover { 
    background-color: #069;
}

.content {
    width: 100%;
    margin: auto;
    
}

.wrapper {
 width: 100%;
    
}
.post-title {
    font-size: 42px;
    font-style: italic;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
}

p {
    color: #111;
}


.footer {
    padding: 20px;
    font-size: 13px;   
    text-align: center;
    background-color: #aaa;
    
}

.footer li {
  padding-left: 10px;
padding-right: 10px;
}
.footer-upper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  padding: 0px;

}




.fb-like {
  padding-bottom: 0px;
  vertical-align: bottom;
}

.post-link {
color: black;
text-decoration: none;
}

/* .preview-picture {

display: block;
height: auto;
max-width: 85%;
vertical-align: middle;
width: auto;
border-radius: 10px;
}*/



img {

display:block;
max-width:100%;
height:auto}

.footer-upper {
border-top: 5px solid #006699;
}





.blog-post {
padding-top: 8px;
padding-bottom: 8px;

}

.imageAndText {position: relative;} 
.imageAndText .col {position: absolute; z-index: 1; top: 0; left: 0;}

.imagebeforetext {
background-color: #f69327;
color: white;	
}



