<!DOCTYPE html>
<html lang="sv">
	{% include head.html %}   
	<body>      
		{% include header.html %}
		<div class="container">
			<div  class="row">
				<div class="col-sm-12 mycontainer">
					<div class="top-header col-sm-12">
						<div class="col-sm-12 logo">
							<h4><a href={{site.url}}>Alltom<span>TelAviv</span></a></h4>
							<p>
								<!-- skript för dagens datum -->
								<script
								LANGUAGE="JavaScript">
								<!--
								vd()
								//-->
								</script>
							</p>
						</div>
						<!-- <div class="col-sm-5 logo">-->
						<!-- lägg in story här Story 1 -->
						<!--</div>
						<div class="col-sm-12">
						<div class="senastenytt">
						<span>Senastenytt:</span> Missa inte att boka din biljett inför årets jul
						</div>
						</div>--> 
					</div>
						{{ content }}
				</div>
			</div>
			{% include footer.html %}
</body>
</html>
