---
layout: default
---



<div class="col-sm-6" class="redy">
	<!--
	SKAPAD MED <3 OCH JAVASCRIPT
	-->
	<div class="post">
		<h1 class="post-title">{{ page.title }}</h1>	
		{{ content }}
	</div>
</div>
<div class="col-sm-3 sidebar"> 
	{% include sidebar-standard.html %} 
</div>
<div class="col-sm-3 sidebar">
<script type="text/javascript">
var uri = 'https://impse.tradedoubler.com/imp?type(js)g(18446570)a(2270282)' + new String (Math.random()).substring (2, 11);
document.write('<sc'+'ript type="text/javascript" src="'+uri+'" charset="ISO-8859-1"></sc'+'ript>');
</script>
</div>
