---
layout: default
---  

<div class="col-sm-8" class="redy">
	<!--
	SKAPAD MED <3 OCH JAVASCRIPT
	-->
	<div class="post">
		<h1 class="post-title">{{ page.title }}</h1>	
		{{ content }}
	</div>
</div>
<div class="col-sm-4 sidebar"> 
	{% include sidebar-standard.html %} 
</div>
